importFrom('plyr', aaply)
importFrom('stringr', str_replace_all, str_count, fixed)
export(checkLogicVec)
export(checkNumVec)
export(checkIntVec)
export(checkCharVec)
export(checkNumOrIntVec)
export(checkLength)
export(checkValues)
export(checkRanges)
